<h1>Name "<%= @user.name %> " を変更する</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name, 'name' %>
  <%= f.text_field :name %>
  <%= f.submit 'edit' %>
<% end %>

<%= link_to '戻る', user_path %>